@tailwind base;
@tailwind utilities;
@tailwind components;

/* @import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap");
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .web-text {
    font-family: "Cardo", serif;
  }
  .quantity {
    background-color: #f0ebeb;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .taransition {
    transition: all 0.6s ease;
  }
}
